<%- include('blocks/header'); %>
    <div class="container">
        <table class="table">
            <tr>
                <td class="w-25"><strong>Название</strong></td>
                <td class="w-100"><%= book.title %></td>
            </tr>
            <tr>
                <td><strong>Описание</strong></td>
                <td><%= book.description %></td>
            </tr>
            <tr>
                <td><strong>Автор</strong></td>
                <td><%= book.authors %></td>
            </tr>
            <% if (book.fileBook) { %>
            <tr>
                <td></td>
                <td><a href="/<%= book.id %>/download" target="_blank" class="btn btn-success">Скачать (<%= book.fileName %>)</a></td>
            </tr>
            <% } %>
            <% if (counter) { %>
                <tr>
                    <td><strong>Просмотры</strong></td>
                    <td><%= counter %></td>
                </tr>
            <% } %>
        </table>
    </div>
<%- include('blocks/footer'); %>